{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


  
   <!-- Main Container -->
<section class="main">
    <div class="container">
      <div class="row align-items-center">
        
        <!-- Image on the Left -->
        <div class="img-txt image-side">
          <img src="{{ url_for('static', filename='images/homepage-family.png') }}" alt="Happy Family with Dog"/>
        </div>
  
        <!-- Text on the Right -->
        <div class="img-txt text-side">
          <h1>HAPPY PET,<br>HAPPY HOME!</h1>
          <p>
            Where Love and Paws meet 
            <img src="{{ url_for('static', filename='images/paw.png') }}" alt="paw icon" class="paw-icon"/>
          </p>
          <button class="adopt-btn">
            Adopt now 
            <img src="{{ url_for('static', filename='images/white paw.png') }}" alt="paw icon" class="paw-icon"/>
          </button>
        </div>
        
      </div>
    </div>
  </section>
  

  <!-- Pets Near You Section -->
  <section class="pets-near-you">
    <div class="section-header">
      <h2>Pets near you</h2>
      <a href="#">View all →</a>
    </div>
    <div class="pets-list">
      <div class="pet-card">
        <img src="{{ url_for('static', filename='images/feline-1.png') }}" alt="Hamster">
        <p class="pet-name">Nala</p>
        <p class="pet-meta">location • Breed</p>
      </div>
      <div class="pet-card">
        <img src="{{ url_for('static', filename='images/Golden retriever.png') }}" alt="Golden Dog">
        <p class="pet-name">Milo</p>
        <p class="pet-meta">location • Breed</p>
      </div>
      <div class="pet-card">
        <img src="{{ url_for('static', filename='images/feline.png') }}" alt="Owl">
        <p class="pet-name">Atlas</p>
        <p class="pet-meta">location • Breed</p>
      </div>
      <div class="pet-card">
        <img src="{{ url_for('static', filename='images/cat.png') }}" alt="cat">
        <p class="pet-name">Poseidon</p>
        <p class="pet-meta">location • Breed</p>
      </div>
      <div class="pet-card">
        <img src="{{ url_for('static', filename='images/Bunny.png') }}" alt="cow">
        <p class="pet-name">Duchess</p>
        <p class="pet-meta">location • Breed</p>
      </div>
    </div>
  </section>
  
  <!-- Our Team Section -->
  <section class="team">
    <h2>Our team</h2>
    <div class="team-members">
      <div class="team-member">Adaure</div>
      <div class="team-member">Hawau</div>
      <div class="team-member">Rifqa</div>
      <div class="team-member">Moria</div>
      <div class="team-member">Doreen</div>
    </div>
    <p>Interested in joining our team? Click <a href="#">here</a></p>
  </section>
  
    
{% endblock %}
