{% extends "base.html" %} {% block title %}How It Works{% endblock %} {% block
content %}

<footer class="footer">
  <div class="overlap-group">
    <div class="rectangle"></div>

    <p class="BONDLY-nile">
      BONDLY
      <br /><br />
      Nile University of Nigeria,
      <br />
      FCT, Abuja
      <br /><br />
      Phone: +234 555 555 5555
      <br /><br />
      Email: bondly@example.com
    </p>

    <div class="useful-links-home">
      Useful Links
      <br /><br />
      Home
      <br /><br />
      About Us
      <br /><br />
      Services
    </div>

    <p class="our-services-pet">
      <span class="text-wrapper">
        Our Services
        <br /><br />
        Pet Adoption
        <br /><br />
        Pet Training
      </span>
      <span class="span"><br /></span>
    </p>

    <p class="our-newsletter">
      Our Newsletter
      <br /><br />
      Subscribe to our newsletter and receive updates about the lovely critters
      and events showcasing them!
    </p>

    <div class="copyright-bondly-all">
      © Copyright   Bondly  All Rights Reserved
    </div>

    <div class="rectangle-2"></div>

    <div class="rectangle-3"></div>

    <div class="subscribe">
      <br />
      Subscribe
    </div>

    <div class="SC-icons">
      <div class="linked-in">
        <img
          src="..\static\images\linkedin.svg"
          alt="LinkedIn Icon"
          class="icon-instance-node"
        />
      </div>

      <div class="x">
        <img
          src="..\static\images\twitter-x.svg"
          alt="Twitter Icon"
          class="icon-instance-node"
        />
      </div>

      <div class="instagram">
        <img
          src="..\static\images\instagram.svg"
          alt="Instagram Icon"
          class="icon-instance-node"
        />
      </div>

      <div class="facebook">
        <img
          src="..\static\images\facebook.svg"
          alt="Facebook Icon"
          class="icon-instance-node"
        />
      </div>
    </div>
  </div>
</footer>
{% endblock %}
